{
  "parser": "babel-eslint",
  "extends": "google",
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-negated-condition": 0,
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false
      }
    }]
  }
}
